/* Summary.css */

.summary {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  text-align: center;
}

.summary h2 {
  margin: 10px 0;
  font-size: 1.5em;
  color: #013111af;
}

.summary .positive {
  color: #4CAF50; /* Green for positive remaining balance */
}

.summary .negative {
  color: #f44336; /* Red for negative remaining balance */
}
