/*Footer.css */

footer {
    background-color: #013111af;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 5px 0;
  }
  


  .footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
} 